/*********rest.css start*********/
b{font-weight:normal; margin:0;padding:0;}
* {appearance:normal;-webkit-appearance: none;-moz-appearance: none;margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;outline: none;font-size-adjust: none;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-font-smoothing: antialiased; max-height:10000px;}
*:focus {outline: none;}
*,*:after,*:before {-webkit-box-sizing: border-box;	-moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:auto!important}
@-o-viewport{width:device-width}
@viewport{width:device-width}
a:hover{text-decoration:none;}
::selection {background-color:#CCC;color: #000;}
p {line-height: 160%;letter-spacing:0px;text-align:justify;text-justify:inter-ideograph;} 
p > a {display: inline;}
p > span {display: inline;}
span > a {display: inline;}
a > span {display: inline;}
li > a{display: inline;}
a {text-decoration: none; color:#333;}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {display: inline;}
h1, h2, h3, h4, h5, h6{color:#000;line-height:100%;}
a,input{ outline:none;}
img{max-width: 100%;}
img.responsive{width: 100%;}
ul > li{list-style:none; }
sub {vertical-align: sub; font-weight:normal; font-size:60%;}
sup {vertical-align:super; font-weight:normal; font-size:80%;}
.clearfix{clear:both;}
.clearfix:after{content:''; display:block; clear:both;}
/*********rest.css end***********/

/*********FontAwesome start***********/
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-quote-left:before {
    content: "\f10d";
}
.fa-quote-right:before {
    content: "\f10e";
}
.fa-angle-left:before {
    content: "\f104";
}
.fa-angle-right:before {
    content: "\f105";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-asterisk:before {
  content: "\f069";
}
/*********FontAwesome end***********/

/*********page.css start*********/
body {color:#fff;font-size:14px;height:100%; line-height: 1; min-width:320px;}
html body{font-family:'Raleway',Helvetica,Arial,sans-serif;}
body *{font-family: 'Raleway',Helvetica,Arial,sans-serif;;}
h1, h2, h3, h4, h5, h6,.title{font-family: 'open sans',Helvetica,Arial,sans-serif;}
.centerElement{text-align: center; margin-left: auto; margin-right: auto;}
.redbg{background-color: #d60000;}
.sr_only{display: none;}
.resources{opacity: 0;visibility: hidden;position: absolute;top: -9999px; left: -9999px;z-index: -1;}
.main{position: absolute; top: 0; left: 0; width: 100%; min-height: 100%;}

/*********responsive css************/
.desk,.tablet,.pad,.mobile{display: none;}

@media only screen and (max-width: 767px) {
	.mobile{display: block;}
}
@media only screen and (min-width: 768px) {
	.pad{display: block;}
}
@media only screen and (min-width: 1024px) {
	.tablet{display: block;}
}
@media only screen and (min-width: 1280px) {
	.desk{display: block;}
}
/*********responsive css************/

/*********preloading start*********/
.preloading{position: fixed; top: 0;left: 0; width: 100%; height: 100%; z-index: 1000; background-color: #fff;}
.loading_text{ width: 100%; top: 50%; height: 130px; margin-top: -65px; position: absolute;}
.preloading .logo{margin-bottom: 10px;}
.preloading h3,.preloading p{color: #f0f0f0;text-align: center;}
.preloading h3{margin-bottom: 15px; font-size: 16px;}
.loading_text img{width:40px; height:39px; display:inline-block;}
/*********preloading end***********/

/*********header start*********/
header{position: fixed; top: 0; left: 0; width: 100%; height: 90px;z-index: 999;box-shadow: 0px 2px 4px #999;}
header .logo{position: absolute; left: 15px;}
header .logo_promise{position: absolute;top: 30px; right: 15px;}
nav{position: absolute; width: 881px; left: 50%; margin-left: -440px; top:0;}
nav li{float: left;-webkit-animation-duration:1.2s;animation-duration:1.2s; -o-animation-duration:1.2s; -moz-animation-duration:1.2s; -ms-animation-duration:1.2s; transition:all 1.2s; -webkit-transition:all 1.2s;}
nav li:not(:last-child){margin-right: 30px;}
nav li a{color: #fff; line-height: 94px;}
nav li a.active{color:#ead47d;}

.toggle_menu_btn{position:absolute; display: none;top:10px;padding:21px 0;left:50%;cursor:pointer;z-index:110;will-change:transform;transition:.5s}
.toggle_menu_btn_icon_box{width:40px;height:26px;perspective:35px;transform-style:preserve-3d}
.toggle_menu_btn_icon{position:relative;height:4px;top:45.5%;transition:.5s;border-radius: 12px;background-color:#FFF;transform-style:preserve-3d}
.toggle_menu_btn_icon:before,.toggle_menu_btn_icon:after{content:" ";border-radius: 12px;position:absolute;display:block;width:100%;height:100%;left:0;transition:.3s;transform-origin:right;background-color:#fff;transform:rotateY(0) translateY(0)}
.toggle_menu_btn_icon:before{top:-300%}
.toggle_menu_btn_icon:after{top:300%}
.toggle_menu_btn:hover .toggle_menu_btn_icon:before{transform-origin:right;-webkit-transform:rotateY(0) translateY(200%) scaleX(0.9);transform:rotateY(0) translateY(100%) scaleX(0.9)}
.toggle_menu_btn:hover .toggle_menu_btn_icon:after{transform-origin:right;-webkit-transform:rotateY(0) translateY(-200%) scaleX(1.1);transform:rotateY(0) translateY(-100%) scaleX(1.1)}
.toggle_menu_btn:active .toggle_menu_btn_icon{transition:.1s}
.toggle_menu_btn:active .toggle_menu_btn_icon:before{transition:.1s;transform-origin:right;transform:rotateY(0) translateY(150%) scaleX(0.9)}
.toggle_menu_btn:active .toggle_menu_btn_icon:after{transition:.1s;transform-origin:right;transform:rotateY(0) translateY(-150%) scaleX(1.1)}
.toggle_menu_btn.close .toggle_menu_btn_icon{-webkit-transform:rotateZ(-135deg);transform:rotateZ(-135deg)}
.toggle_menu_btn.close .toggle_menu_btn_icon:before{transform-origin:center;-webkit-transform:translateY(50%) rotateZ(270deg) scaleX(0.5);transform:translateY(50%) rotateZ(270deg) scaleX(0.5)}
.toggle_menu_btn.close .toggle_menu_btn_icon:after{transform-origin:center;-webkit-transform:translateY(-50%) rotateZ(270deg) scaleX(0.5);transform:translateY(-50%) rotateZ(270deg) scaleX(0.5)}
.toggle_menu_btn.close:hover .toggle_menu_btn_icon{transform:scale(1.1,1.1) rotateZ(-135deg)}
.toggle_menu_btn.close:active .toggle_menu_btn_icon{transition:.1s;transform:scale(0.95,0.95) rotateZ(-135deg)}

@media only screen and (max-width: 1280px) and (min-width:1024px) {
	nav{width: 754px; margin-left: -410px;}
	header .logo{width: 70px; margin-top: 16px;}
	header .logo_promise{width: 150px; margin-top: 8px;}
	nav li:not(:last-child){margin-right: 10px;}
}
@media only screen and (max-width: 1023px) and (min-width:768px) {
	nav{margin-left: auto;left: 0;width: 100%; display: none;}
	nav.show{display: block;top: 90px;}
	nav li{width: 100%; margin-right: 0!important; background-color: #F0F0F0; border-bottom: 1px solid #ccc;}
	nav li>a{text-align: center; line-height: 60px; color: #333; display: block;}
	.toggle_menu_btn{display: block; margin-left: -20px;}
}
@media only screen and (max-width: 767px) {
	nav{margin-left: auto;left: 0;width: 100%;transition: all .5s; transform: translateY(-100%);}
	nav.show{display: block;transform: translateY(0%); top: 90px;}
	nav li{width: 100%; margin-right: 0!important; background-color: #F0F0F0; border-bottom: 1px solid #666;}
	nav li>a{text-align: center; line-height: 60px; color: #333; display: block;}
	.toggle_menu_btn{display: block;left:15px;}
	header .logo{left: 50%; margin-left: -54px;}
	header .logo_promise{display: none;}
}
/*********header end***********/

/*********mainbody start*********/
.pages{position: absolute; width: 100%; padding-top: 90px; min-height: 100%;}
.page{width: 100%; position: absolute; min-height: 420px;}
#page-1{top: 0px; min-height: 100%;}
.container{max-width: 1280px; margin-left: auto; margin-right: auto;}
.videobg{position: fixed; z-index: -1; width: 100%;height: 100%; background-image: url(../images/wsq-flyover.jpg); background-size: cover;}
.mask{position: absolute; left: 0; width: 100%; top: 0px; height: 100%; background-size: cover; background-position: center;}
@media only screen and (min-width: 1280px) {
	.mask{background-image: url(../images/bg-1-mask-large.png);}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	.mask{background-image: url(../images/bg-1-mask-medium.png);}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.mask{background-image: url(../images/bg-1-mask-medium.png);}
}
@media only screen and (max-width: 767px){
	.mask{background-image: url(../images/bg-1-mask-small.png);}
}
.countdown{position: absolute; top: 20px; padding-top: 90px; right: 30px; color: #3b83af; font-size: 14px; text-transform: uppercase; font-weight: bold; height:138px; }
#countdown{font-size: 38px; margin: auto 8px; position: relative;}
.countdown span{display: inline-block; float:left;}
.countdown span.last{ height: 46px; line-height: 46px;}
.countdown .text{width: 120px; line-height: 18px;position: relative;top: 7px;}
#countdown b{font-family: 'open sans',Helvetica,Arial,sans-serif;display: inline-block;height: 44px; background-color: #3b83af; color: #fff; margin-right: 3px; padding: 0 3px; font-weight: bolder;}

#scroll_nav{position: fixed;width: 12px; height: 100px;/*padding: 90px 0;*/top: 50%;margin-top: -50px;right:30px;}
#scroll_nav li{margin-bottom: 12px;}
#scroll_nav li>a{display: block; width: 8px; height: 8px; border-radius: 6px; background-color: #d7d7d7;}
#scroll_nav li>a.active{background-color: #e60000;}

#page-2{top:100%;}
.projectinfo{width: 100%; height: 420px; background-color: rgba(0,0,0,.68); position: relative; top: 50%; margin-top: -210px;}
.infomation{width: 840px; position: relative; margin: 0 auto;padding-top: 135px;}
.left-quotation,.right-quotation{position: absolute; top: 70px;}
.left-quotation{left: -50px;}
.right-quotation{right: -50px;}
.infotext{font-size: 22px; color: #fff; line-height: 32px; margin-bottom: 36px;}
.infotext b{display: none;}
.emphasize{color: #c2a967;}
.boss{font-size: 14px; padding-left: 630px; color: #fff;}
.wang{font-size: 22px; line-height: 32px;}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.infomation{width: 640px;}
	.boss{padding-left: 440px;}
}
@media only screen and (max-width: 767px){
	.left-quotation,.right-quotation{display: none;}
	.infomation{width: 90%; padding-top: 50px;}
	.projectinfo{height: 100%;top: 0; margin-top: 0;}
	.infotext{text-align: center;}
	.boss{padding-left: 0;text-align: center;}
	.infotext b{display: inline;}
}
@media only screen and (max-height: 600px){
	.infotext{margin-bottom: 10px;}
	.infotext,.wang{font-size: 16px;}
}
#page-3{top:200%; background-size: cover; margin-top: -90px;}
.golden-line{max-width: 1280px; text-align: center; margin: 0 auto; height: 100%;}
.golden-line img{height: 100%;}
.promise{max-width: 1280px; position: absolute;top: 0;height: 100%;left: 50%;}
.promise .tit{text-align:center;}
.promise .content{position:relative;}
.promise .content .wsq{width:30%; position:absolute; right:10%; top:100px;}
.promise .content .overview{width:30%; position:absolute; left:5%; top:330px;}
.promise .content .sketch{width:50%; position:absolute; right:30%; top:30px;}
.promise .content .sections{position:absolute; top:410px; width:580px; right:5%;}



.row{margin-bottom: 15px;}
.responsive-half{display: inline-block; width: 50%; float: left;}
/*.content{padding: 0 15px;}*/
.text{overflow: hidden;}
.ellipsis{text-overflow: ellipsis;overflow: hidden; white-space: nowrap;}
.content p{text-align: left; line-height: 130%; padding-bottom: 15px;}
.promiseatmobile{padding: 3% 15px;}
#page-3 .logo_promise{width: 53.33%; margin: 0 auto 3%;}
.slider-wrapper{width: 100%; position: relative;}
.slider-wrapper a{color: #c2a967; font-size: 56px;top: 0;width: 5%;height: 100%;position: absolute; z-index: 10;}
.slider-wrapper a>i{position: absolute;top: 50%; margin-top: -28px;}
.goright{right: 0;}

/*.slider-pic{position: absolute;width: 92%;left: 4%; float:left;}
.promisetext{ position:absolute; top:50%;}
.promisetext p{line-height: 120%; margin-bottom: 3%;}*/
.slider-pic{position: relative;width: 92%;left: 4%;}
.promisetext p{line-height: 120%; margin-bottom: 3%;}
 .bold{font-weight:bold;}
@media only screen and (min-width: 1280px) {
	#page-3{background-image: url(../images/bg-2-large.jpg);}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	#page-3{background-image: url(../images/bg-2-medium.jpg);}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#page-3{background-image: url(../images/bg-2-medium.jpg);}
}
@media only screen and (max-width: 767px){
	#page-3{background-image: url(../images/bg-2-mobile.jpg);}
}

#page-4{top:300%; background-size: cover; margin-top: -175px;}
@media only screen and (min-width: 1280px) {
	#page-4{background-image: url(../images/bg-3-large.jpg);}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	#page-4{background-image: url(../images/bg-3-medium.jpg);}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#page-4{background-image: url(../images/bg-3-small.jpg);}
}
@media only screen and (max-width: 767px){
	#page-4{background-image: url(../images/bg-3-mobile.jpg);}
}
.video-container{height:auto;}
.video-container img{vertical-align:middle;}
.timeline{max-width:1280px; padding:180px 50px; margin:0 auto;}
.tmtimeline{position:relative; list-style:none; padding:0; }
.tmtimeline:before{content:''; position:absolute; height:1px; background:#cacaca; width:100%; margin-top:150px;}
.tmtimeline > li{position:relative;}
.tmtimeline > li .tmicon{width:8px; height:8px; border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; position:absolute;font-style: normal;font-weight: normal;font-variant: normal; -webkit-font-smoothing: antialiased; font-size:1.4em; background:#707070; margin-top:146px; left:12px; }
.tmtimeline >li .tmbdline{position:absolute; left:15px; width:1px; height:176px; background:#b7b7b7; margin-top:-30px;}
.tmtimeline > li .tmtime{position:absolute; display:block; width:25%; left:28px; margin-top:-31px;}
.tmtimeline > li .tmtime span{display:block; text-align:left;}
.tmtimeline > li .tmtime span:first-child{font-size:1em; color:#ed1c24; font-weight:bold;}
.tmtimeline > li .tmtime span:nth-child(2){font-size:1em; color:#330000; margin-top:10px;}
.tmtimeline > li .tmtime span:last-child{font-size:1em;color:#333; margin-top:20px;}
.tmtimeline > li .tmtime span.mrt47:last-child{margin-top:47px;}

.tmtime2{margin-left:14%;  padding-bottom:100px; bottom:-518px;}
.tmtimeline >li .tmbdline2{left:16%; bottom:-332px;}
.tmtimeline > li .tmicon2{left:15%; width:12px; height:12px; margin-top:144px;}

.tmtimeline > li .tmicon3p2{left:30%; width:10px; height:10px; margin-top:145px; box-shadow: 0 0 0 1px #b7b7b7;border-radius:50%;}
.tmtimeline > li .tmicon3p{left:30%; width:10px; height:10px; margin-top:-3px; margin-left:-4px; border-radius:50%;}
.tmtimeline > li .tmicon3{left:30%; width:18px; height:18px; margin-top:-4px; box-shadow: 0 0 0 1px #b7b7b7; border-radius:50%;}
.tmtimeline >li  .tmbdline3{left:181px; margin-top:-35px;}
.tmtime3{margin-left:28%;  padding-bottom:100px;}

.tmtimeline >li  .tmbdline4{left:47%; bottom:-334px;}
.tmtimeline > li .tmicon4{left:46%; width:16px; height:16px; margin-top:142px;}
.tmtime4{margin-left:44%;  padding-bottom:100px; bottom:-506px;}

.tmtimeline > li .tmicon5p2{left:62%; width:13px; height:13px; margin-top:143px; box-shadow: 0 0 0 1px #e60000;border-radius:50%;}
.tmtimeline > li .tmicon5p{left:62%; width:13px; height:13px; margin-top:143px; background:#e60000;border-radius:50%;}
.tmtimeline > li .tmicon5{left:62%; width:16px; height:16px; margin-top:143px;  background:#e60000;}
.tmtimeline >li  .tmbdline5{left:371px; margin-top:-33px;}
.tmtime5{margin-left:61%;  padding-bottom:100px;}

.tmtimeline >li  .tmbdline6{left:73%; bottom:-334px;}
.tmtimeline > li .tmicon6{left:72%; width:16px; height:16px; margin-top:142px; background:#e60000;}
.tmtime6{margin-left:70%;  padding-bottom:100px; bottom:-520px;}

#page-5{top:400%; background-size: cover; margin-top: -270px; overflow-x: hidden;}
.yacht{position: absolute;right: 0;bottom: 0;}
.map-city{position: absolute;left: 36%;top: 58%; font-size: 18px;font-weight: bolder;}
.floating{position: absolute; height: 53%; width: 50%; left: 43%; top: 2%;}
.floating>span{position: absolute;top:30px;left: 0; height: 100%; width: 100%;}
.floating>span img{height: 100%;}
.islandtitle{color: #e98714; font-size: 20px; margin-top: 2%; font-weight: bold;}
.zone{position: absolute;}
.experience{left: 80px; top: 20%;}
.film{left:220px; top:16%;}
.production{left:400px; top:20%;}
.research{left:30px; top:60%;}
.verticalline{width: 1px; display: inline-block; position: relative; }
#islandtext .verticalline{background-color: #d4860e; height: 100px;}
@media only screen and (min-width: 1280px) {
	#page-5{background-image: url(../images/bg-4-large2.jpg);}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	#page-5{background-image: url(../images/bg-4-medium2.jpg);}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#page-5{background-image: url(../images/bg-4-small2.jpg);}
}
@media only screen and (max-width: 767px){
	#page-5{background-image: url(../images/bg-4-small2.jpg);}
}
.contents{position: absolute;  width: 50%; left: 43%; top:520px; }
#article{padding-left:25px; width:550px; padding-top:20px;}
#article h2{font-size:18px; color:#fff; margin-bottom:20px;}
.ship{position:absolute; bottom:30px; right:130px;}

@media (max-width:1500px){
	.ship{position:absolute; bottom:30px; right:0;}
}
@media (max-width:1200px){
	.ship{display:none;}
}

#page-6{top:500%; background-size:cover; margin-top:-361px;}
@media only screen and (min-width: 1280px) {
	#page-6{background-image: url(../images/bg-5-large.jpg);}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	#page-6{background-image: url(../images/bg-5-medium.jpg);}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#page-6{background-image: url(../images/bg-5-small.jpg);}
}
@media only screen and (max-width: 767px){
	#page-6{background-image: url(../images/bg-5-mobile.jpg)}
}
.facilities{max-width: 1280px; position: absolute;top: 0;height: 100%;left: 50%;}
.facilities .tit{text-align:center; font-size:22px; color:#666; font-weight:bold; margin-top:-30px;}
.facilities .facimg{width:100%; height:100%; position:relative;}
.facilities img{position:absolute; width:160px; height:160px;}
.facilities .facimg img.center{ width:320px; height:280px; left:310px; top:244px; position:absolute;}
.i6{ top:50px; left:150px;}
.whitebd{position:absolute; width:160px; height:160px;}
.img10{top:210px; left:150px;position:absolute; width:160px; height:160px;}
.img10 img{position:absolute; left:0; top:0; }
.whitebd span{width:30px; height:30px; border:3px solid #fff; display:inline-block; position:absolute;background:none;}
.whitebd span.lt{border-right:none; border-bottom:none; top:0; left:0; }
.whitebd span.lb{border-right:none; border-top:none; bottom:0; left:0; }
.whitebd span.rt{border-left:none; border-bottom:none; top:0; right:0; }
.whitebd span.rb{border-left:none; border-top:none; bottom:0; right:0; }
.i10{top:370px; left:150px;}
.img2{top:530px; left:150px}
.img1{left:310px; top:20px;}
.i1{left:310px; top:180px;}
.i2{left:310px; top:513px;}
.img4{top:84px; left:470px;}
.i9{top:420px; left:470px;}
.img3{top:580px; left:470px;}
.i4{top:50px; left:630px;}
.img5{top:210px; left:630px;}
.img9{top:370px; left:630px;}
.i3{top:530px; left:630px;}
.i8{top:70px; left:790px;}
.i5{top:230px; left:790px;}
.img7{top:390px; left:790px;}
.i7{top:550px; left:790px;}

#page-7{top:600%; background-size:120%; margin-top:-450px;}
@media only screen and (min-width: 1280px) {
	#page-7{background-image: url(../images/bg-6-large.png); }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	#page-7{background-image: url(../images/bg-6-medium.png);}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#page-7{background-image: url(../images/bg-6-small.png);}
}
@media only screen and (max-width: 767px){
	#page-7{background-image: url(../images/bg-6-small.png); background-size:cover;}
}



/*set up word boxes*/
.wordcontainer {
  text-align:center;
  display:block;
  position:absolute;
  left:50%;top:50%;
  z-index:1;
  color:#ffffff;
  cursor:default;
  -webkit-transition:all 0.5s linear;
  transition: all 0.5s linear;
  cursor:pointer;
}
.word {
  display:block;
  -webkit-transition:all 3s linear;
  transition: all 3s linear;
}
/*#logo {width:300px;height:auto;position:absolute;top:50%;left:50%;margin-left:-150px;margin-top:-65px;}*/

/*position and style individual words*/
#word27 {font-size:24px; font-weight:normal;  margin-left:-189px; margin-top:-235px; color:#2d2d2d; text-align:left; } /*Motion Capture*/
#word01 {font-size:24px; font-weight:normal;  margin-left:-188px; margin-top:-205px; color:#d5bf85; text-align:left; } /*Well-designed*/
#word25 {font-size:20px; font-weight:100;     margin-left:-188px; margin-top:-170px; color:#2d2d2d; text-align:left; line-height:24px; } /*Public*/
#word02 {font-size:30px; font-weight:bold;    margin-left:-188px; margin-top:-120px; color:#f2f2f2; text-align:left; line-height:30px; } /*Interpretation*/

#word06 {font-size:40px; font-weight:normal;  margin-left:-340px; margin-top:-200px; color:#ffffff;    text-align:left; -webkit-transform: rotate(270deg);transform: rotate(270deg);} /*Construction*/
#word24 {font-size:12px; font-weight:100;     margin-left:-520px; margin-top:-50px;  color:#d8d8d8; text-align:left;} /*IT*/
#word28 {font-size:18px; font-weight:normal;  margin-left:-370px; margin-top:-140px; color:#2d2d2d; text-align:right; } /*Video Game*/
#word23 {font-size:28px; font-weight:100;     margin-left:-495px; margin-top:-95px;  color:#d5bf85; text-align:left;} /*Expendables*/
#word22 {font-size:12px; font-weight:100;     margin-left:-315px; margin-top:-80px;  color:#d8d8d8; text-align:left;} /*Set Design*/
#word09 {font-size:50px; font-weight:bold;    margin-left:-360px; margin-top:-60px;  color:#d5bf85;} /*Post Production*/

#word26 {font-size:14px; font-weight:normal;  margin-left:55px;   margin-top:-155px; color:#ffffff; text-align:left; } /*Film Trailer*/
#word07 {font-size:38px; font-weight:bolder;  margin-left:55px;   margin-top:-130px; color:#d8d8d8;    text-align:left; line-height:44px; } /*VFX*/
#word05 {font-size:24px; font-weight:bold;    margin-left:330px;  margin-top:-70px;  color:#d5bf85;} /*Transportation*/
#word18 {font-size:28px; font-weight:100;     margin-left:55px;   margin-top:-30px;  color:#ffffff;    text-align:left;} /*Production Equip*/
#word15 {font-size:28px; font-weight:200;     margin-left:85px;   margin-top:15px;   color:#d5bf85; text-align:left;} /*Turn-key*/

#word16 {font-size:24px; font-weight:bold;    margin-left:-535px; margin-top:0px;    color:#ffffff;    text-align:left;} /*Film Production Management*/
#word17 {font-size:12px; font-weight:100;     margin-left:-550px; margin-top:43px;   color:#d8d8d8; text-align:left;} /*Marketing*/
#word14 {font-size:16px; font-weight:bold;    margin-left:-420px; margin-top:40px;   color:#2d2d2d; text-align:left;} /*Textile*/
#word13 {font-size:16px; font-weight:100;     margin-left:-275px; margin-top:40px;   color:#d8d8d8; text-align:left;} /*Props*/
#word12 {font-size:13px; font-weight:100;     margin-left:-465px; margin-top:150px;  color:#d8d8d8; text-align:left;} /*Graphic Design*/
#word04 {font-size:40px; font-weight:bolder;  margin-left:-420px; margin-top:63px;   color:#d5bf85; text-align:left;} /*underwater*/
#word31 {font-size:24px; font-weight:100;     margin-left:-275px; margin-top:160px;  color:#2d2d2d; text-align:left; } /*Motion Control*/
#word32 {font-size:12px; font-weight:normal;  margin-left:-185px; margin-top:195px;  color:#d6d6d6; text-align:right; line-height:16px; } /*Hair*/

#word10 {font-size:36px; font-weight:normal;  margin-left:-115px; margin-top:155px;  color:#333333; -webkit-transform: rotate(270deg);transform: rotate(270deg);} /*Editing*/
#word29 {font-size:14px; font-weight:normal;  margin-left:-20px;  margin-top:120px;  color:#d6d6d6; text-align:left;} /*Legal Counsel*/
#word30 {font-size:30px; font-weight:bold;    margin-left:-20px;  margin-top:140px;  color:#d5bf85; text-align:left; line-height:34px; } /*Paint Shop*/
#word11 {font-size:44px; font-weight:100;     margin-left:-165px; margin-top:0px;    color:#ffffff;  text-align:left; line-height:50px; } /*Set Lighting*/


#word08 {font-size:22px; font-weight:normal;  margin-left:25px;   margin-top:180px;  color:#ffffff;   -webkit-transform: rotate(270deg);transform: rotate(270deg);} /*Sound Mixing*/
#word03 {font-size:38px; font-weight:bolder;  margin-left:160px;  margin-top:55px;   color:#d5bf85; text-align:left; line-height:44px; } /*Sign and Graphics*/
#word19 {font-size:16px; font-weight:bold;    margin-left:120px;  margin-top:155px;  color:#2d2d2d; text-align:left; } /*Costume Design*/
#word20 {font-size:16px; font-weight:normal;  margin-left:120px;  margin-top:180px;  color:#d8d8d8; text-align:left; line-height:20px; } /*Set Construction*/
#word21 {font-size:32px; font-weight:bold;    margin-left:120px;  margin-top:230px;  color:#d5bf85; text-align:left; line-height:34px; } /*Security Services*/
#word33 {font-size:30px; font-weight:normal;  margin-left:260px;  margin-top:105px;  color:#d8d8d8; text-align:left; line-height:34px; } /*Digital*/
#word34 {font-size:16px; font-weight:normal;  margin-left:370px;  margin-top:143px;  color:#d8d8d8; text-align:left; line-height:34px; } /*Sound Recording*/

/*hover fx*/
.wordcontainer:hover {
  opacity:1;
  -webkit-filter: url("#unblur");
          filter: url("#unblur"); /*for FF*/
  -webkit-filter: blur(0px);
          filter: blur(0px);
  z-index:2;
  text-shadow: 0 1px 3px #333333;  
  -webkit-transition:all 3s ease-out,text-shadow .1s linear;  
  transition: all 3s ease-out,text-shadow .1s linear;

}
.wordcontainer:hover .word{
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition:all 3s ease-out;
  transition: all 3s ease-out;
}

/*form*/
#page-8{top:700%; background-size:cover; margin-top:-540px; height:auto;}
.section7{width:100%;background: url("../images/bg-7-large.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;}
.relative{position:relative;}
.formrgh{width:60%;}
.formwrap{width:50%; float:right; background-color:rgba(0,0,0,.88);padding-left:85px;}

form .row{margin-bottom:0px;}
form .row .col{padding-left:2px;}
.section7 h3{color:#07baba; margin-top:20%;}
form{/*margin-top:50px;*/ margin-top:5%;}

.fa-asterisk{color:#ff6666; margin-left:5px; font-size:0.2em;}
form .input-field label{color:#ccc;}
form textarea.materialize-textarea{padding:1rem 0;}
.send-btn{width:230px;
  height: 50px; line-height: 50px; color:#fff; background: #009999; border-radius: 7px; -webkit-border-radius: 7px; -o-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; /*margin: 70px 0  40px; */
  margin:10% 0;
  -webkit-transition: transition: all 350ms linear; -o-transition: all 350ms linear;
  -moz-transition: all 350ms linear;
  -ms-transition: all 350ms linear;
  transition: all 350ms linear;}
.send-btn:hover{background:#07baba;}
.mailcolor{color:#009999;}

@media (min-width: 1400px){
  .section7 .mobilesec7{display: none;}
  .formrgh{width:60%;}
}
@media (min-width: 1280px) and (max-width:1399px) {
  .section7 .mobilesec7{display: none;}
  .section7{width:100%;background: url("../images/bg-7-medium.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;}
  .formrgh{width:70%;}
}
@media (min-width: 1024px) and (max-width:1279px) {
 .section7  .mobilesec7{display: none;}
  .formrgh{width:80%;}
  form{/*margin-top:50px;*/ margin-top:3%;}
  .section7{width:100%;background: url("../images/bg-7-small.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;}
}
@media (min-width: 768px) and (max-width:1023px) {
 .section7 .mobilesec7{display: none;}
  .formrgh{width:80%;}
  .section7{width:100%;background: url("../images/bg-7-small.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;}
}

@media (max-width: 768px) {
  .section7{display:none;}
  .section7 .mobilesec7{display:block;}
}
.moformwrap{width: 100%; background: rgba(0,0,0,.88);}
.section7 .mobilesec7{width:100%; background: url("../images/bg-7-mobile.jpg") no-repeat; position: relative; }
.section7 .mobilesec7 h3{margin:0; font-size:1.8em; color:#07baba; padding:0.5em;}
.mobilesec7 p{color:#fff; padding:0.5em 1em 0em;}
.mobilesec7 form{padding:0.5em 1em 0;}
.mobilesec7 .submitbtn{width: 100%; height: 50px; line-height: 50px; color:#fff; background: #009999;}
.mobilesec7 .col_full{clear: both; width: 100%;  float: none;  margin-right: 10px;}
.mobilesec7 label{display:inline-block; max-width: 100%; margin-bottom: 5px;}
.mobilesec7 p.errmsg {  position: absolute;  right: 5px;  top: 0px;  font-size: 12px;  color:#f00;display: none}
.mobilesec7 .sm-form-control{display: block;  width: 100%; box-sizing: border-box;  height: 38px;  padding: 8px 15px;  font-size: 14px;  line-height: 1.42857143;  color: #555555;  background-color: #ffffff;  background-image: none;   border-radius: 0 !important;  -webkit-transition: border-color ease-in-out .15s;  -o-transition: border-color ease-in-out .15s;  transition: border-color ease-in-out .15s;}
.submit.btn{width:100%; margin:10px 0 50px;}
.mobilesec7 small{color:#ff6666;}
/*mobile*/


/*end form*/

/*footer*/
footer{background:#414141; padding:35px 0; color:#fff; width:100%; position:absolute; top:800%; margin-top:-630px;}
footer a{color:#fff;}
.container{max-width:1230px; margin:0 auto;}

.fa-map-marker{color:#f56262; margin-right:10px;}
.fa-external-link{color:#666;}
.footer-address{color:#ececec;}
.copyright{color:#999;}
.deco{height:1px; background:#676767; width:100%; margin:10px 0;}
.tablet .footer-widgets,.desk .footer-widgets{float:right;}
footer .table .link,footer .desk .link{margin-right:26px;}

.footwrap{padding:0 50px;}
footer .mobile .link{float:left; width:33.3%}
footer .link.link2{text-align:center;}
footer .link.last{text-align:right;}
.mobile .copyright{margin-top:10px;}
@media (min-width:768px) and (max-width:1023px){
	footer{padding:15px 10px 50px;}
	.tablet .footer-widgets, .desk .footer-widgets{float:left; margin-top:12px;}
}
@media (min-width:1024px) and (max-width:1229px){
	footer{padding:15px 10px 50px;}
}
/*footer*/
/*********mainbody end***********/

/*********page.css end***********/